@import './_variables.scss';

/*单行溢出*/
.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*多行溢出 手机端使用*/
.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}

@mixin txt-content {
    display: flex;
    /*盒子模型*/
    flex-direction: row;
    /*横向*/
    justify-content: space-around;
    /*主轴居中*/
    align-items: center;
    /*纵轴居中*/
}

/*多行溢出 手机端使用*/
.txt-content {
    display: flex;
    /*盒子模型*/
    flex-direction: row;
    /*横向*/
    justify-content: space-around;
    /*主轴居中*/
    align-items: center;
    /*纵轴居中*/
}


/*通用渐变按钮背景色*/
@mixin operation-but-background {
    background: linear-gradient(157deg, #273FEB 0%, #4C89F7 48%, #324DF4 100%);
}

/* 通用置灰按钮背景色*/
@mixin operation-disabled-background {
    background: #B8C0C8;
}


/*通用按钮样式*/
@mixin operation-but {
    border-radius: 30px;
    min-width: 160px;
    height: 40px;
    padding: 0 12px;

    span {
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        letter-spacing: 1px;
        display: flex;
        text-align: center;
        align-items: center;
        display: block;
    }
}

/*渐变色按钮*/
@mixin operation-blue-but {
    border-radius: 30px;
    min-width: 160px;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    background: linear-gradient(157deg, #273FEB 0%, #4C89F7 48%, #324DF4 100%);

    span {
        font-size: 15px;
        font-weight: 600;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;
        display: initial;
        font-family: PingFangSC-Semibold,
            PingFang SC;
    }
}

/*置灰按钮*/
@mixin operation-gray-but {
    border-radius: 30px;
    min-width: 160px;
    height: 40px;
    padding: 0 12px;
    padding: 0 22px;
    cursor: pointer;
    background: #B8C0C8;

    span {
        font-size: 15px;
        font-weight: 600;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;
        display: block;
    }
}

/*字体*/
@mixin PingFangSC-Regular-text {
    font-family:
        PingFang SC;
}

@mixin PingFangSC-Medium-text {
    font-family:
        PingFang SC;
}

@mixin PingFangSC-Semibold-text {
    font-family:
        PingFang SC;
}









/*切换网络*/
.network-lightblue-but {
    min-width: $ButWidth;
    height: 40px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #15163d;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: $ButWidth;
            height: 40px;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #35366d;
            color: #ffffff;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 40px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}



.ant-modal-content {
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20x !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

/*message 弹窗样式*/
.ant-message {
    margin-top: 20vh;
}